.headshot {
    padding: 5%;
    max-width: 35%;
    border: 5px solid #93827F;
    border-radius: 25%;
    float: left;
    /* margin-left: 2%; */
    margin: 5%;
}

.headshot:hover {
    /* max-width: 37.5%; */
    border: 5px solid #F6AE2D;
}

.home {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

p, h2, h3 {
    padding: 5px;
    align-items: flex-end;
    flex-wrap: wrap;
}

h2:hover {
    color: #F6AE2D;
}

h3:hover {
    color: #F6AE2D;
}

#title {
    justify-content: center;
    align-items: flex-end;
    padding: 5px;
}