p,
h2,
h3 {
	align-items: flex-end;
	flex-wrap: wrap;
}

h2:hover {
	color: #f6ae2d;
}

h3:hover {
	color: #f6ae2d;
}

.headshot {
	max-width: 40%;
	border: 5px solid #F7F5FB;
	border-radius: 20%;
	float: left;
    margin-right: 5%;
    margin-top: 7%;
}

.headshot:hover {
	border: 5px solid #f6ae2d;
}

.home {
	display: flex;
	flex-direction: column;
	padding: 5%;
}

#beg {
	color: #f6ae2d;
	font-size: 200%;
}

#title {
	justify-content: center;
	align-items: flex-end;
	padding: 5px;
}
