/* COLORS

    grey: #31393C
    lightGrey: #93827F
    white: #F7F5FB
    orangeYellow: #F6AE2D
    blueGrey: #5C9EAD

*/

.App {
	height: 100%;
	color: #f7f5fb;
	font-family: sans-serif;
	padding-top: 70px;
}

a {
	text-decoration: none;
	color: blueviolet;
}

.lazy-loader {
}

footer {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

@media (hover: hover) {
	a:hover {
		text-decoration: underline;
	}

	.logo-header:hover,
	.header-link:hover {
		text-decoration: none;
	}

	button:hover,
	input[type="button"]:hover,
	input[type="submit"]:hover {
		filter: brightness(1.1);
	}
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.center-v {
	display: flex;
	justify-content: center;
	width: 100%;
}

.center-h {
	justify-content: center;
}

.container {
	display: flex;
	flex-wrap: wrap;
	background-color: transparent;
	margin: 10px;
	padding: 10px;
	max-width: 100%;
}

img {
	max-width: 100%;
}

.form-stack input,
label {
	display: block;
	width: 200px;
	margin: 3px;
}

form h1 {
	margin: 0;
	padding: 0;
}

input {
	padding: 7px;
	margin: 3px;
	font-size: 17px;
}

input:focus,
textarea:focus {
	outline: none;
}

.logo-header {
	padding: 5px 10px 10px 10px;
	margin: 0;
	/* color: white; */
	background-color: #0e1418;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

.header-link {
	/* color: white; */
	font-size: 1rem;
}

.header-link h1 {
	margin: 0;
	padding: 10px 0;
	display: inline-block;
}

.rec-carousel {
	width: 100%;
}
