@media (max-width: 767px) {
	.aboutMe-container {
		flex-direction: column;
	}

	.guitar {
		margin: 0 auto;
	}
}

.about-me {
	display: flex;
	flex-direction: column;
	margin-top: 15%;
	min-height: 500px;
	padding: 50px;
}

.about-me section {
	margin: 0 auto;
	max-width: 1200px;
}

.aboutMe-container {
	display: flex;
}

.content {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
}

.guitar {
	max-width: 35%;
	border: 5px solid #f7f5fb;
	border-radius: 5%;
}

.guitar:hover {
	border: 5px solid #f6ae2d;
}

.parallax-aboutMe {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("https://images.unsplash.com/photo-1537763251863-4ef771ed9677?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
